md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 0px 0;
    vertical-align: middle;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
    pointer-events: auto!important;
}

md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
    color: rgba(72,66,66,0.80);
}


md-sidenav {
    box-sizing: border-box;
    position: absolute;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 60;
    width: 200px;
    max-width: 320px;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 600px) {
	md-sidenav {
	    max-width: 250px;
	}
}

ng-md-icon svg {
    display: block;
    margin: 0 auto!important;
}

a.md-button.md-default-theme:not([disabled]):hover, a.md-button:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: transparent;
}