<div layout="row" flex>
	
	<md-sidenav layout="column" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
	   <md-toolbar class="md-primary md-hue-2">
			<div class="md-toolbar-tools">
				<h4>Ingenia</h4>
			</div>
		</md-toolbar>
		<md-content layout="column" flex>
			<md-list>
				<md-list-item ui-sref="app.empleados" ng-click="$mdSidenav('left').close()">
					<p> Registrar empleado</p>
				</md-list-item>
				<md-list-item ui-sref="app.empleados.list">
					<p> Empleados </p>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>

	<md-content ui-view="content" layout="column" flex></md-content>

</div>