<md-dialog aria-label="Mango (Fruit)" ng-cloak style="min-width: 350px">
    <form name="addProductForm" id="addProductForm" ng-submit="$event.preventDefault()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Concepto</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <ng-md-icon icon="close" style="fill: white"></ng-md-icon> 
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <md-autocomplete
                        md-no-cache="true"
                        md-delay="500"
                        md-min-length="2"
                        md-selected-item="vm.selectedItem"
                        md-search-text="vm.searchText"
                        md-selected-item-change="vm.selectedItemChange(item)"
                        md-items="item in vm.querySearch(vm.searchText)"
                        md-item-text="item.descripcion"
                        md-min-length="0"
                        placeholder="Buscar producto">

                        <md-item-template>
                            <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.descripcion}}</span>
                        </md-item-template>

                        <md-not-found>
                            Ninguna coincidencia "{{vm.searchText}}".
                        </md-not-found>
                    </md-autocomplete>

                    <div flex>&nbsp;</div>
                    <div flex>&nbsp;</div>

                    <md-input-container md-no-float flex>
                        <label for="codigo">Código</label>
                        <input type="text" name="codigo" id="codigo" ng-model="vm.product.codigo" required placeholder="">
                    </md-input-container>
                    <md-input-container md-no-float flex>
                        <label for="descripcion">Descripción</label>
                        <input type="text" name="descripcion" id="descripcion" ng-model="vm.product.descripcion" required placeholder="">
                    </md-input-container>
                    <md-input-container md-no-float flex>
                        <label for="tiempo">Hrs/mins</label>
                        <input type="text" name="tiempo" id="tiempo" ng-model="vm.product.tiempo" placeholder="">
                    </md-input-container>
                    <md-input-container md-no-float flex>
                        <label for="costo">Costo</label>
                        <input type="text" name="costo" id="costo" ng-pattern="/^\d+(\.\d{1,2})?$/" ng-model="vm.product.precio_de_venta" required placeholder="">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancel()">
                Cancelar
            </md-button>

            <span flex></span>

            <md-button class="md-warn" ng-disabled="addProductForm.$invalid" ng-click="vm.answer(vm.product)" style="margin-right:20px;">
                <strong>Agregar</strong>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
