<md-toolbar class="md-table-toolbar md-default">
  	<div class="md-toolbar-tools">
  		<md-button ng-click="app.toggle()" class="menu-toggle-button">
	    	<ng-md-icon icon="menu"></ng-md-icon>
	   	</md-button>
    	<span>Empleados</span>
  	</div>
</md-toolbar>
<md-content layout-padding>
	
	<form name="employeeRegistration" id="employeeRegistration" layout-padding>
		<div layout="column" layout-gt-sm="row">
			<md-input-container md-no-float flex>
		        <input type="text" name="search" id="search" ng-model="vm.search" placeholder="Ingresar ID de empleado" style="max-width: calc(100% - 120px);" autofocus>
		        <md-button aria-label="Search" ng-click="vm.filterByID(vm.search)">
            		<ng-md-icon icon="search"></ng-md-icon>
          		</md-button>
		    </md-input-container>
		</div>
	</form>
	<md-table-container style="padding: 0px">
		<table md-table ng-model="vm.selected" md-progress="vm.promise">
			   <thead md-head>
			    <tr md-row>
					   <th md-column>#</th>
					   <th md-column>Registro</th>
					   <th md-column>Nombre</th>
					   <th md-column>Fecha de nacimiento</th>
					   <th md-column>Ingresos anuales</th>
				</tr>
			  </thead>
			  <tbody md-body>
			     <!-- we can let ng-repeat sort the columns for us -->
			     <tr md-row ng-repeat="employee in vm.employees">
			      <td md-cell>{{ employee.id }}</td>
			      <td md-cell>{{ employee.created_at | date:'dd/MM/yyyy hh:mm a' }}</td>
			      <td md-cell>{{ employee.nombre + ' ' + employee.apellido_paterno + ' ' + employee.apellido_materno }}</td>
			      <td md-cell>{{ employee.detalles.fecha_de_nacimiento }}</td>
			      <td md-cell>{{ employee.detalles.ingresos_anuales }}</td>
			     </tr>
			  </tbody>
		</table>
	</md-table-container>
	
	<md-table-pagination md-limit="vm.pagination.per_page" md-limit-options="vm.limits" md-page="vm.pagination.current_page" md-total="{{ vm.pagination.total }}" md-on-paginate="vm.paginate" md-label="{{ vm.labels }}" md-page-select></md-table-pagination>

</md-content>