<md-toolbar class="md-table-toolbar md-default">
  	<div class="md-toolbar-tools">
  		<md-button ng-click="app.toggle()" class="menu-toggle-button">
	    	<ng-md-icon icon="menu"></ng-md-icon>
	   	</md-button>
    	<span>Nuevo empleado</span>
  	</div>
</md-toolbar>
<md-content layout-padding>
	<form name="employeeRegistration" id="employeeRegistration" layout-padding>
		<legend>Datos personales</legend>
		<div></div>

		<div layout="column" layout-gt-sm="row">
			<md-input-container md-no-float flex>
		        <label for="nombre">Nombre(s)</label>
		        <input type="text" name="nombre" id="nombre" ng-model="vm.employee.nombre" required placeholder="" autofocus>
		        <div ng-messages="employeeRegistration.nombre.$error">
			        <p ng-message="required">Nombre requerido</p>
			    </div>
		    </md-input-container>
		    <md-input-container md-no-float flex>
		        <label for="apellido_paterno">Apellido paterno</label>
		        <input type="text" name="apellido_paterno" id="apellido_paterno" ng-model="vm.employee.apellido_paterno" required placeholder="" autofocus>
		        <div ng-messages="employeeRegistration.apellido_paterno.$error">
			        <p ng-message="required">Apellido paterno requerido</p>
			    </div>
		    </md-input-container>
		    <md-input-container md-no-float flex>
		        <label for="apellido_materno">Apellido materno</label>
		        <input type="text" name="apellido_materno" id="apellido_materno" ng-model="vm.employee.apellido_materno" placeholder="" autofocus>
		    </md-input-container>
		</div>

		<legend>Datos finacieros</legend>
		<div></div>

		<div layout="column" layout-gt-sm="row">
			<md-input-container md-no-float flex>
		        <label for="fecha_de_nacimiento">Fecha de nacimiento (Día/Mes/Año)</label>
		        <input type="text" name="fecha_de_nacimiento" id="fecha_de_nacimiento" ng-model="vm.employee.fecha_de_nacimiento" ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/" placeholder="Ej. 12/06/1985" required placeholder="">
		        <div ng-messages="employeeRegistration.fecha_de_nacimiento.$error">
			        <p ng-message="required">Fecha requerida</p>
			        <p ng-message="pattern">Formato inválido</p>
			    </div>
		    </md-input-container>
		    <md-input-container md-no-float flex>
		        <label for="ingresos_anuales">Ingresos anuales</label>
		        <input type="text" name="ingresos_anuales" id="ingresos_anuales" ng-model="vm.employee.ingresos_anuales" ng-pattern="/^[\d]+[\.]\d{2}$/" required placeholder="">
		         <div ng-messages="employeeRegistration.ingresos_anuales.$error">
			        <p ng-message="required">Ingresos requerido</p>
			        <p ng-message="pattern">Formato inválido</p>
			    </div>
		    </md-input-container>
		</div>

		<div layout="column" layout-gt-sm="row">
			<span flex></span>
			<md-button class="md-raised" ng-click="vm.cancelRegistration($event, employeeRegistration)">Cancelar captura</md-button>
		    <md-button type="submit" class="md-raised md-primary" ng-click="vm.submitEmployee(vm.employee, employeeRegistration, $event)" ng-disabled="!employeeRegistration.$valid">Guardar</md-button>
		</div>
	</form>

</md-content>